<%- include("../partials/head", { title: t("notFound.title") }) %>
<section class="content-page">
  <h1><%= t("notFound.title") %></h1>
  <p><%= t("notFound.body") %></p>
  <p><a class="btn btn-primary" href="/"><%= t("notFound.back") %></a></p>
</section>
<%- include("../partials/foot") %>
